<div class="Normal Text"><label class="form-control-label"><span *ngIf="field">{{field.caption}}</span></label></div>

<div style="border: 1px solid #d2d2d2;
min-height: 28px!important;
margin-bottom: 8px!important;
background: #fff;">
<input class="form-control input-md" disabled="true" id="NoteInput" type="text" maxlength="100" style="    min-height: 26px;
height: auto!important;
margin: 0!important;
line-height: 16px!important;
font-weight: 400!important;
text-overflow: ellipsis;
cursor: auto;
background-color: #f8f8f8;
padding: 1px 10px;
color: #b8b8b8!important;
-webkit-text-fill-color: #b8b8b8!important;
border: none;">
</div>